<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PromotionalCreationWizard.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="PromotionalCreationWizard.My.MySettings.GamingConnectionString"
            connectionString="Data Source=DBSERVER2;Initial Catalog=Gaming;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <!--<userSettings>
        <PromotionalCreationWizard.My.MySettings>
            <setting name="ConfigConnectionString" serializeAs="String">
                <value>Data Source=DBSERVER2;Initial Catalog=Gaming;Integrated Security=True</value>
            </setting>
        </PromotionalCreationWizard.My.MySettings>
    </userSettings>-->
</configuration>